:root{
    --fuenteParrafos : sans-serif;
    --FuenteHeading : 'Open Sans' sans-serif;

    --primario: #;
    --blanco: #ffffff;
    --negro:#000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px;*/
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/**Globales**/
.contenedor{
    max-width: 120rem;
    width:100%;;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--FuenteHeading);
}

h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
/*Contenido*/
.header{
    background-image: url(/images/desktop/image-hero.jpg);
    background-size: cover;      /* Hace que la imagen cubra todo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}
.menu{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    padding-top: 5.5rem;
    gap: 50rem;
}
nav a{
    color: var(--blanco);
    margin-left: 3rem;
    font-family: var(--FuenteHeading);
}

nav a:hover{
    color: purple;
}