:root{
    --fuenteParrafos : sans-serif;
    --FuenteHeading : 'Open Sans' sans-serif;

    --blanco: #ffffff;
    --negro:#000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px;*/
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 1.4;
}

/**Globales**/
.contenedor{
    max-width: 120rem;
    width:90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--FuenteHeading);
}

h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
/*Contenido*/
.header{
    background-image: url(/images/desktop/image-hero.jpg);
    background-size: cover;  
    background-position: center center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}

.mobile-menu{
    display: none;
}

.menu{
    width: 90%;
    height: 15rem;
    margin-bottom:4rem;
    margin-top: 0;
    
}


@media(min-width:768px){    
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: block;
    flex-direction: column;
    text-align: center;
}

.header-texto{
   border: 1px solid var(--blanco);
   width: 70rem;
   height: 30rem;
   margin-left: 29rem;
   margin-bottom: 12rem;
   padding:8rem;
   align-items: flex-start;
   justify-content: flex-start;
   line-height:7rem;
}

.header-texto p{
    text-align: left;
    font-size: 8rem;
    padding-left: 1.2rem;
    color: red;
    text-transform:uppercase;
    text-align: justify;
}
}