:root{
    --fuenteParrafos : sans-serif;
    --FuenteHeading : 'Open Sans' sans-serif;

    --blanco: #ffffff;
    --negro:#000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px;*/
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/**Globales**/
.contenedor{
    max-width: 120rem;
    width:100%;;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--FuenteHeading);
}

h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
/*Contenido*/
.header{
    background-image: url(/images/desktop/image-hero.jpg);
    background-size: cover;      /* Hace que la imagen cubra todo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}
.menu{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    padding-top: 5.5rem;
    gap: 45rem;
}
.navbar{
    display: flex;
    gap: 3rem;
}
.navbar a{
    color: var(--blanco);
    margin-left:4rem;
    font-family: var(--FuenteHeading);
    font-weight: bold;
    text-decoration: none;
}
.navbar a:hover{
    color: purple;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.header-title{
    width: 50%;
    margin-left: 18rem;
    height: 90vh;
}
@media (max-width:768px){
    .mobile-menu{
        display: block;
        width: 5rem;
    }
    .navbar{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 8rem;
        left: 0;
        right: 0;
        background-color: #111;
        text-align: center;
        padding: 2rem 0;
    }
}

@media (max-width:800px){
    .mobile-menu{
        display: block;
    }
    .navbar{
        display: none;
    }
}

@media (max-width:1200px){
    .menu{
        gap: 40rem;
    }
}








@media (max-width:575px){
    body{
        line-height: 1.4;
    }
    .header{
        width: 100%;
        height: 120vh;
        background-position:bottom; 
        background-size:cover;
    }
    .menu{
        width: 90%;
        gap:12rem;
    }
    .menu .logo{
        width: 100%;
        margin-top: 2rem;
    }
    .header-title{
    width: 90%;
    background-color: red;
    height: 50vh;
    position: absolute;
}

}