:root{
    --fuenteParrafos : sans-serif;
    --FuenteHeading : 'Open Sans' sans-serif;
    --fuenteTitulo : 'Montserrat', sans-serif;
    --blanco: #ffffff;
    --negro:#000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px;*/
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 1.4;
}

/**Globales**/
.contenedor{
    max-width: 120rem;
    width:90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--FuenteHeading);
}

h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
/*Contenido*/
.header{
    background-image: url(/images/desktop/image-hero.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60rem;
}

.mobile-menu{
    display: block;
}

.menu{
    width: 90%;
    height: 4rem;
    padding-top:6rem;
    display: flex;
    justify-content: space-between;
}

.navegacion_enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}
.header-texto {
  border: 2px solid var(--blanco);
  width: fit-content;          
  margin-left: 19rem;          
  margin-top: 31rem;
  padding: 3.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.header-texto p {
  margin: 0;
  font-size: 11rem;
  color: beige;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: left;
  line-height: 1;
}

.margin{
    margin-bottom: 15rem;
}
.navbar{
    display: none;
    gap: 6rem;
}

.body-interactive{
    width: 100%;
    height: 70rem;
    padding-top: 10rem;
    position: relative;

}
.body-imagen{
    background-image: url(/images/mobile/image-interactive.jpg);
    background-size:initial;
    background-position: left center;
    background-repeat: no-repeat;
    width: 80%;
    height: 60rem;
}
.body-texto{
    width: 40%;
    height: 30rem;
    background-color: #ffffff;
    position: absolute;
    right: 200px;
    bottom: 7.5rem;
    padding-left: 11rem;
}

.body-texto h1{
    font-weight: 300;
    font-family:var(--fuenteTitulo)
}

.body-texto p{
    font-size: 13px;
    color: gray;
}









@media (max-width: 767px) {
  .header-texto {
    border: 2px solid var(--blanco);
    width: 90%;                 
    margin: 0 auto;            
    margin-top: 15rem;          
    text-align: center;        
    justify-content: center;    
    align-items: center;
    overflow: hidden;
  }

  .header-texto p {
    font-size: 5.3rem;          
    text-align: left;
  }
  .header-texto p span {
    display: block;  
  }
}


@media (min-width: 768px) {
  .header-texto {
    width: 65rem;
    margin-left: 19rem;         
    margin-top: 15rem;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  .header-texto p {
    font-size: 7rem;
    text-align: justify;
  }
}

@media(min-width:768px){    
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 8rem;
    }
    .navbar{
        display: flex;
        gap: 4rem;
    }
    .mobile-menu{
        display: none;
    }
}