:root{
    --fuenteParrafos : sans-serif;
    --FuenteHeading : 'Open Sans' sans-serif;

    --blanco: #ffffff;
    --negro:#000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px;*/
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 1.4;
}

/**Globales**/
.contenedor{
    max-width: 120rem;
    width:90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--FuenteHeading);
}

h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
/*Contenido*/
.header{
    background-image: url(/images/desktop/image-hero.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70rem;
}

.mobile-menu{
    display: block;
}

.menu{
    width: 90%;
    height: 4rem;
    padding-top:6rem;
    display: flex;
    justify-content: space-between;
}

.navegacion_enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}
.header-texto{
    display: flex;
    border: 1px solid var(--blanco);
    width: 50%;
    height: 20rem;
    padding: 1rem 1rem;
    margin-top: 15rem;
}
.header-texto p{
    color: var(--blanco);
    font-size: 7rem;
    text-align: justify;
    text-transform: uppercase;
}
.navbar{
    display: none;
    gap: 6rem;
}


@media(min-width:768px){    
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 8rem;
    }
    .navbar{
        display: flex;
        gap: 6rem;
    }
    .mobile-menu{
        display: none;
    }
    .header-texto{
        display: block;
        border: 1px solid var(--blanco);
        margin-top: 15rem;
        width:54rem;
        height: 20rem;
        padding-left: 3rem;
        line-height: 6rem;
    }

    .header-texto p{
        color: var(--blanco);
        font-size: 6rem;
        text-transform: uppercase;
    }
}