:root{
    --fuenteParrafos : sans-serif;
    --FuenteHeading : 'Open Sans' sans-serif;
    --fuenteTitulo : 'Montserrat', sans-serif;
    --blanco: #ffffff;
    --negro:#000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px;*/
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 1.4;
}

/**Globales**/
.contenedor{
    max-width: 1200px;
    width:90%;
    margin: auto;
}
a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--FuenteHeading);
}

h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
/*Contenido*/
.header{
    background-image: url(images/desktop/image-hero.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60rem;
}

.mobile-menu{
    display: block;
}

.menu{
    width: 90%;
    height: 4rem;
    padding-top:6rem;
    display: flex;
    justify-content: space-between;
}


.navbar-superior{
    display: none;
    gap: 6rem;
    margin: 0;
}


.navegacion_enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}
.header-texto {
  border: 2px solid var(--blanco);
  width: 95%;   
  height: 25rem;    
  margin-left: 1rem;          
  margin-top: 15rem;
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.header-texto p {
  margin: 0;
  font-size:4.7rem;
  color: beige;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: left;
  line-height: 1;
}

.header-texto p span{
    display: block;
}

.margin{
    margin-bottom: 15rem;
}


.body-interactive{
    width: 100%;
    height: auto;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.body-imagen{
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
    height: auto;
    display: block;
}
.body-texto{
    width: 80%;
    height: auto;
}
.body-texto h1{
    font-weight: 400;
    font-size: 3rem;
    font-family:var(--fuenteTitulo);
    line-height: 4rem;
    text-align: center;
    text-transform: uppercase;
}
.body-texto p{
    font-size:15px;
    color: gray;
    text-align: center;
}
.creations {
  padding-top: 4rem ;
}
.creations h1{
    font-family: var(--fuenteTitulo);
    font-weight: 200;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 7rem;
}
.creations .cards div {
  position: relative;
}
.creations .cards img {
  width: 100%;
  display: block;
}
/* Estilo del texto dentro de la imagen */
.contenedor-imagen {
  position: relative;
  display: inline-block;
}
.contenedor-imagen img {
  width: 100%;
  display: block;
}
/* los span ir치n uno debajo del otro sobre la imagen */
.contenedor-imagen span {
  position: absolute;
  left: 1.5rem;              /* separaci칩n del borde izquierdo */
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: uppercase;          /* espacio entre l칤neas */
}

/* para que el texto se ubique en la parte inferior de la imagen */
.contenedor-imagen span:nth-of-type(1) {
  bottom: 3.7rem;            /* primera l칤nea */
}

.contenedor-imagen span:nth-of-type(2) {
  bottom: 1.5rem;            /* segunda l칤nea (m치s abajo) */
}

.cards {
  display: grid;
  grid-template-columns: 1fr; /* una columna en m칩vil */
  gap: 4rem;
}
.contenedor-imagen {
  position: relative;
  overflow: hidden;
}
.contenedor-imagen picture,
.contenedor-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.contenedor-imagen span {
  position: absolute;
  left: 2rem;
  bottom: 3rem;
  display: block;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: bold;
  text-align: left;
}

/* ======== BOT칍N "SEE ALL" ======== */
.creations .cards .boton-see {
  margin: 0 auto;

}

.boton-see p {
  border: 1px solid black;
  display: inline-block;
  padding: 1rem 3rem;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton-see p:hover {
  background-color: black;
  color: white;
}

footer{
    background-color: #000000;
    width: 100%;
    height: auto;
    display: flex;
}

.logo-menu{
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 6rem;
    padding-top:3rem ;
}
.footer-logo img{
    width: 90%;
}
.logo-menu .navbar-footer a{
    display: block;
    margin-top: 20px;
}

.iconos{
    height:2.5rem;
    width: 100%;
    display: flex;
}

.iconos picture {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  width: 90%;
  gap: 20px;
}
.texto-redes{
    display:block;
    margin-top: 20px;
}
.texto-redes p{
    display: inline-block;
    width: 100%;
    height: 4rem;
    color: white;
    text-align: center;
}

.attribution {
    display: inline-block;
    width: 100%;
    height: 4rem;
    color:black;
    text-align: center;
    background-color: gray;
    padding-top: 1rem;
}


/* ======== VISTA ESCRITORIO ======== */
@media (min-width: 768px) {/*tablet y superior*/
    .contenedor{
        max-width: 120rem;
        width:90%;
        margin: 0 auto;
    }
    .menu{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 7rem 0;
    }
    .navbar-superior{
        display: flex;
        gap: 5rem;
        align-content: center;
        margin-left: auto;
    }
    .mobile-menu{
        display: none;
    }
    .header-texto {
        width: 55rem;
        height: 25rem;
        margin-left: 19rem;         
        margin-top: 15rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .header-texto p {
        font-size: 7rem;
        text-align: justify;
        display: block;
    }
    .header-texto p span {
        display: block;
    }
    .header-texto p span:nth-last-child(2),
    .header-texto p span:last-child {
        display: inline;
    }

        /* Opcional: agrega un peque침o espacio entre ellas */
    .header-texto p span:nth-last-child(2)::after {
        content: " ";
    }
    .body-interactive{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        z-index: -5;
        
    }
    .body-imagen{
        width: 60%;
        height:auto;
    }

    .body-texto{
        width: 30%;
        height: 25rem;
        position: absolute;
        left:750px;
        bottom: -430px;
        background-color: #ffffff;
        padding: 20px 60px;
    }
    .body-texto h1{
        text-align: left;
    }


    .body-texto p{
        text-align: left;
        color: #000;
        font-size: 1.4rem;
    }






    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 columnas */
        grid-template-rows: repeat(2, auto); /* 2 filas */
        gap: 3rem;
    }
    .contenedor-cards{
        width: 100%;
    }
    .contenedor-imagen {
        height: 410px; /* fija altura m치s est칠tica */
    }
    .contenedor-imagen span{
        position: absolute;
        font-size: 2.5rem;
        font-family: var(--fuenteTitulo);
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height:6rem;
        left: 6rem;

    }
    .creations h1 {
        font-size: 3.2rem;
        text-align: left;
    }

    .boton-see {
        position: absolute;
        bottom: 100rem;
        left: 90rem;
    }
    footer{
        background-color: #000000;
        width: 100%;
        height: 17rem;
    }

    .menu-footer{
        padding-top: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
    }

    .logo-menu{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .logo img{
        width: 100%;
        height: auto;
        display: block;
    
    }
    .logo-menu .navbar-footer{
        display:inline-flex;
        gap: 4rem;
    }
    .navbar-footer{
        color: var(--blanco);

    }
    .redes{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
    .iconos {
        display: flex;
        justify-content: flex-end; /* 游녣 mueve todo al lado derecho */
    }

    .iconos picture {
    display: flex;
    gap: 10px; /* separaci칩n entre 칤conos */
    }

    .redes .iconos picture span{
        margin-right:0;
    }
    .footer-logo img{
        width: 50%;
        height: auto;
        margin-bottom: 2.5rem;
        padding-top: 2rem;
    }

    .menu-footer .redes span{
        display: inline-block;
        margin-left: 1rem;

    }
    .redes span img{
        margin-top: 30px;
        width: 2rem;
        height: 2rem;
    }
    .texto-redes{
        padding-top: 1rem;
    }
    .texto-redes p{
        color: var(--blanco);
        text-align: right;
        margin: 0;
    }

}